button {
  border: none;
  border-radius: rem(2);
  height: rem(26);
  padding: 0 rem(6);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--color-primary);
  background-color: var(--color-btn);
  box-shadow: var(--box-shadow);
  outline: none;

  @include font(rem(12), var(--weight-500), rem(26), var(--color-primary));

  @media screen and (min-width: rem(768)) {
    padding: 0 rem(12);
  }

  &.ripple {
    background-position: center;
    transition:
      background var(--transition-long-time),
      box-shadow var(--transition-time);

    &:focus {
      background-color: var(--color-btn-focus);
    }

    &:hover {
      background: var(--color-btn-hover)
        radial-gradient(circle, transparent 1%, var(--color-btn-hover) 1%)
        center/15000%;
      box-shadow: var(--box-shadow-2);
    }

    &:active {
      background-color: var(--color-primary);
      background-size: 100%;
      transition: background 0s;
    }
  }

  img {
    display: none;

    @media screen and (min-width: rem(768)) {
      display: inline-block;
    }
  }

  @media screen and (min-width: rem(768)) {
    height: rem(32);
    padding: 0 rem(16);
    font-size: rem(14);
    line-height: rem(32);
  }
}
