.modal {
  position: fixed;
  top: rem(20);
  right: rem(20);
  transform: translateX(100%);
  transition: transform var(--transition-time) var(--timing-fn);
  background-color: var(--color-primary);
  padding: rem(20);
  border-radius: rem(4);
  box-shadow: var(--box-shadow);
  z-index: 9999;
}

.modal.modal-visible {
  transform: translateX(0);
}
