.modal {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform var(--transition-time) var(--timing-fn);
  background-color: var(--color-primary);
  padding: rem(20);
  border-radius: rem(4);
  box-shadow: var(--box-shadow);
  z-index: 9999;

  @media screen and (min-width: rem(430)) {
    top: rem(20);
    right: rem(20);
  }

  &.modal-visible {
    transform: translateX(0);
  }
}
