// table styles

#table-wrapper {
  box-shadow: var(--box-shadow);

  table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;

    thead {
      tr {
        background-color: var(--color-primary);
        text-transform: capitalize;

        th {
          padding: rem(20) rem(10);
        }
      }
    }

    th,
    td {
      text-align: center;
      border-radius: 0;
      vertical-align: middle;
    }

    tbody {
      tr {
        background-color: var(--color-primary);

        &[class^='row-'] {
          transition: background-color var(--transition-long-time)
            var(--timing-fn);

          &:hover {
            background-color: var(--color-third);

            td {
              color: var(--color-primary);

              .number {
                color: var(--color-primary);
              }

              .icon:not(.exists) {
                color: var(--color-primary);
              }
            }
          }
        }

        &:nth-child(odd) {
          background-color: var(--color-secondary);
        }

        &:last-child {
          td {
            padding: rem(25) rem(10);
          }
        }

        td {
          min-width: rem(90);
          padding: rem(15) rem(10);
          color: var(--color-text);
          transition: color var(--transition-long-time) var(--timing-fn);

          &.col-1 {
            text-align: left;
          }

          .flex-container {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-items: center;

            span {
              min-width: rem(60);
              margin: 0 rem(10);
            }
          }

          .icon:not(.exists) {
            color: var(--color-danger);

            &:hover {
              color: var(--color-primary);
            }
          }

          .number {
            transition: color var(--transition-long-time) var(--timing-fn);

            @include font(
              rem(20),
              var(--weight-700),
              normal,
              var(--color-text)
            );
          }
        }
      }
    }
  }
}
