// common styles

html {
  -webkit-text-size-adjust: 100%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  background: var(--color-bg);
  background: var(--bg-gradient);
  overflow: hidden auto;

  @media screen and (min-width: rem(430)) {
    overflow: hidden;
  }

  @media screen and (orientation: landscape) {
    overflow: hidden auto;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

table,
th,
td {
  border: none;
}

main {
  width: 95%;
  height: 100vh;
  max-width: rem(1200);
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding-top: rem(60);

  @media screen and (min-width: rem(430)) {
    width: 90%;
    padding-top: 0;
  }

  @media screen and (min-width: rem(768)) {
    width: 80%;
  }
}

.capitalize {
  text-transform: capitalize;
}
