:root {
  font-family: 'Roboto';
  font-size: 1rem;
  color: var(--color-text);

  // colors
  --transparent: rgb(0 0 0 / 0%);
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary: #e0f2f1;
  --color-secondary: #b2dfdb;
  --color-third: #80cbc4;
  --color-bg: #4db6ac;
  --color-text: #004d40;
  --color-btn: #26a69a;
  --color-btn-hover: #2bbbad;
  --color-btn-focus: #1d7d74;
  --color-danger: #b80073;
  --color-shadow-1: rgba(0, 0, 0, 0.2);
  --color-shadow-2: rgba(0, 0, 0, 0.12);
  --color-shadow-3: rgba(0, 0, 0, 0.14);

  // font-weight
  --weight-100: 100;
  --weight-200: 200;
  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  --weight-800: 800;
  --weight-900: 900;

  // border-radius
  --br-rounded: 50%;

  // transitions
  --transition-time: 0.35s;
  --transition-long-time: 0.85s;
  --timing-fn: cubic-bezier(0.175, 0.885, 0.32, 1.275);

  // FX
  --text-shadow: 3px 3px 4px var(--color-text);
  --box-shadow: 0 24px 38px 3px var(--color-shadow-3),
    0 9px 46px 8px var(--color-shadow-2), 0 11px 15px -7px var(--color-shadow-1);
  --box-shadow-2: 0 3px 3px 0 var(--color-shadow-3),
    0 1px 7px 0 var(--color-shadow-2), 0 3px 1px -1px var(--color-shadow-1);
  --bg-gradient: linear-gradient(
    25deg,
    rgba(0, 77, 64, 1) 0%,
    rgba(77, 182, 172, 1) 70%
  );

  // measurements
  --inherit: inherit;
}
